    <h2>
      We played <%=@our_play%>!
    </h2>
    <h2>
      They played <%=@computer_play%>!
    </h2>
    <h2>
      We <%=@outcome%>!
    </h2>
<footer>
  <div>
    <a href="/">Rules </a>
  </div>
</footer>
